<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap-reboot.css' />
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script defer src="/javascripts/phoneBook.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>