* {
    box-sizing: border-box;
}

.table-style table {
    border: 1px solid #CCC;
    text-align: left;
    font-family: "Arial Narrow", Georgia, sans-serif;
    font-size: 22px;
    margin: 0 auto;
}

.table-style th, .table-style td {
    font-weight: normal;
    white-space: nowrap;
    padding-left: 10px;
    border: 1px solid #CCC;
    vertical-align: middle;
    height: 47px;
}

.table-style th {
    background-color: #3498DB;
    color: #FFF;
}

.table-style tr:nth-child(odd) {
    background-color: #EEE;
}

.first-name-column-width {
    width: 160px;
}

.second-name-column-width {
    width: 160px;
}

.job-title-column-width {
    width: 280px;
}

.twitter-column-width {
    width: 180px;
}